* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #001f3f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.navbar-list-li {
  position: relative;
  text-align: center;
}

.navbar-link {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.navbar-list li:hover {
  background-color: #fd7a6e;
  color: white;
  border-radius: 0.3rem;
}

.dashboard-section,
.send-transaction {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, 0.1);
}

.hover-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  z-index: 1000;
  color: black;
}

nav li:hover .hover-menu {
  display: block;
}

body.dark-mode .settings-item {
  color: black;
}

.modal {
  padding: 1rem;
  font-size: 1rem;
  width: 15rem;
  color: black;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode .navbar {
  background-color: #1f1f1f;
}

body.dark-mode .dashboard-section,
body.dark-mode .send-transaction,
body.dark-mode .transaction-form,
body.dark-mode .help-overview,
body.dark-mode .faq,
body.dark-mode .settings {
  background-color: #1e1e1e;
}

body.dark-mode .faq li {
  background-color: #1e1e1e;
}

body.dark-mode .settings-group {
  background-color: #2a2a2a;
}

body.dark-mode .settings-group button {
  background-color: #444;
  color: #e0e0e0;
}
body.dark-mode .settings-group button:hover {
  background-color: #001f3f;
  color: #e0e0e0;
}

body.dark-mode .main-footer {
  background-color: #001f3f;
}

body.dark-mode a {
  color: white;
}

body.dark-mode a:hover {
  background-color: #001f3f;
  color: white;
}

body.dark-mode .main-footer a:hover {
  background-color: #121212;
  color: white;
}

input::placeholder {
  font-weight: bold;
  /* color: black; */
  text-align: center;
}

body.dark-mode {
  background-color: #302b2b;
  color: white;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.dashboard-section {
  flex: 2;
  margin-right: 1rem;
  font-size: 1.6rem;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.dashboard-title {
  padding: 1rem;
}

.send-transaction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex: 1; */
  font-size: 1.4rem;
  padding: 1rem;
}

.transaction-form,
.transaction-form input {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: white;
  font-size: 0.8rem;
  width: 80%;
  margin-bottom: 0.5rem;
}

.recent-transations-section {
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 0.01rem solid black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.recent-transactions-list {
  list-style: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: #001f3f;
  color: white;
}

.footer-column {
  flex: 1;
  text-align: center;
}

.footer-column h3 {
  background-color: #001f3f;
  color: white;
  padding-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-headings {
  font-size: 1.6rem;
}
.footer-column li,
.contact-footer {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #001f3f;
  color: white;
}

.about-me-list a {
  text-decoration: none;
  background-color: #001f3f;
  color: white;
}

.about-me-list a:hover {
  text-decoration: none;
  background-color: #fd7a6e;
  color: white;
  border-radius: 0.3rem;
}

.el {
  padding: 0.8rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem;
}

.add-transactions {
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
  margin-left: 1.9rem;
}

.add-transactions:hover {
  cursor: pointer;
  background-color: #fd7a6e;
  color: white;
}

.transaction-type {
  padding: 0.8rem;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: #001f3f;
  border-radius: 0.3rem;
  margin: 0.5rem auto;
  color: white;
}

.transaction-type:hover {
  font-size: 0.9rem;
  border-radius: 0.3rem;
  background-color: #fd7a6e;
  color: white;
  cursor: pointer;
}

.transaction-type option {
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: black;
}

.transaction-type option:hover {
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-transaction-form {
  width: 50%;
}

.help-overview {
  padding: 2rem;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin: 2rem auto;
}

.intro-text {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.faq {
  padding: 2rem;
  background: #ffffff;
  border-radius: 0.5rem;
  margin: 2rem auto;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-list {
  list-style: none;
  padding: 0;
}

.faq-list li {
  margin-bottom: 1rem;
  padding: 1rem;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
}

.faq-list p {
  margin-top: 0.5rem;
}

.settings {
  padding: 2rem;
  text-align: center;
  margin: 2rem auto;
  max-width: 800px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.settings h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.settings-group {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.settings-group h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.settings-group label {
  font-size: 1.2rem;
}

.settings-group button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #001f3f;
  color: white;
  cursor: pointer;
}

.settings-group button:hover {
  background-color: #fd7a6e;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
  }

  .dashboard-section {
    flex: 2;
    margin-right: 1rem;
  }

  .send-transaction {
    flex: 1;
  }

  .navbar-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }

  .dashboard-container {
    flex-direction: row;
  }

  .dashboard-section {
    flex: 2;
    margin-right: 1rem;
  }

  .send-transaction {
    flex: 1;
  }

  .main-footer {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  /* .navbar-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #001f3f;
    width: 100%;
    color: white;
    text-align: center;
  } */

  .navbar-link {
    padding: 1rem;
    width: 100%;
  }

  .navbar-list li {
    margin: 1rem;
    background-color: #1e1e1e;
  }

  .navbar-list li:hover {
    margin: 1rem;
    background-color: #1f1f1f;
  }

  .navbar-list {
    flex-direction: column;
    width: 100%;
  }

  .dashboard-container {
    flex-direction: column;
  }

  .send-transaction {
    margin-top: 1rem;
  }

  .main-footer {
    flex-direction: column;
  }

  /* .main-footer li {
    padding: 0.5rem;
    background-color: #001f3f;
  }

  .main-footer li a:hover {
    padding: 0.5rem;
    background-color: #002fec;
  } */
}
